<%= form_for @reimbursement, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :reference, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reference, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payee_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :payee_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comments, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :data, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :data, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reimbursements_path, :class => 'btn' %>
  </div>
<% end %>
